
html,body {
    margin: 0;
    padding: 0;
   height: 100%;
   color: #000;
   font: 16px "Microsoft YaHei",sans-serif,Arial;
 }

header{
    background-color: #000;
    color: white;
    height: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    line-height: 45px !important;
    font-size: 18px !important;
  }
  .header{
    width: 100%;
    height: 50px;
    position: relative;
     font-size: 16px;
  }
  ::before{
    float: left;
    font-size:30px; 
    width: 20px;
  }
.changeress{
    background-color: rgb(242, 242, 242);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%
}
.addressBox{
    background-color: #fff;
}
.addressBox >div{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(182, 181, 181);
    line-height: 50px
}
.addressBox label{
    margin-left: 10px;
    color:rgb(107, 107, 107);
    // width: 60px;
    display: inline-block
}
.addressBox input{
    border: none;
    margin-left: 30px;
    outline: none;
    width: 70%
}
::-webkit-input-placeholder {
    color: black;
}
.selectBox > select{
    width: 28%;
    height: 30px;
    margin-left: 3.5%;
    border:1px solid rgb(97, 97, 97);
}
.changebtn{
    display: block;
    width: 85%;
    height: 50px;
    margin: 30px auto;
    background-color: rgb(18, 155, 18);
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border:none;
    border-radius: 5px;
    outline: none;
}
.changebtn:hover{
    background-color: rgb(16, 97, 16);
}
.changebtn:active{
    background-color: rgb(6, 36, 6);
}