html,body,ul,li{
  margin: 0;
  padding: 0;
  width: 100%;
}
header{
  background-color: #000;
  color: white;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: relative;
}
.backbtn{
  position: absolute;
  left: 10px;
  font-size: 35px;
  vertical-align: middle;
}
ul,li{
  list-style: none;
  background-color: #fff;
}
a{
  text-decoration: none;
}
.PersonalPage{
  font-family: '微软雅黑';
  font-size: 14px;
}

//内容
.content{
  width: 100%;
}
//登陆注册
.notlog{
  width: 100%;
}
.title{
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(156, 154, 154);
}
.land{
  font-size: 23px;
  width: 42%;
  text-align: center;
  letter-spacing: 10px;
  margin-left: 20px;
}

.register{
  font-size: 23px;
  width: 42%;
  text-align: center;
  letter-spacing: 10px;
}
.fontgreen{
  color:rgb(51, 153, 51);
  border-bottom: 5px solid rgb(51, 153, 51);
}


.telinput>i,
.pwdinput>i,
.nicknameinput>i,
.confirmpwdinput>i{
  display: inline-block;
  width: 26px;
  font-size: 32px;
  vertical-align: middle; 
  color: rgb(156, 154, 154);
}

.telinput>input,
.pwdinput>input,
.nicknameinput>input,
.confirmpwdinput>input{
  width: 200px;
  vertical-align: middle; 
  height: 55px;
  outline: none;
  border: none;
  font-size: 14px;
}

.telinput,
.nicknameinput,
.pwdinput,
.confirmpwdinput{
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(156, 154, 154)
}


.logbtn{
  width: 80%;
  height: 45px;
  text-align: center;
  background-color: green;
  border-radius:8px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  outline:none;
  margin-top: 30px;
}

.wrongcue{
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.mask{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;left: 0;
  color: white; 
  
}
.mask>div{
  width: 300px;
  height: 180px;
  text-align: center;
  margin: 200px auto;
  background-color: #fff;
  border: 1px solid #eee;
  color: #000;
  border-radius: 3%;
}
.mask p{
  margin-top: 50px;
}
.mask button{
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  background-color: rgba(51,153,51,1);
  color: #fff;
  margin-top: 30px;
  font-size: 15px;
}



.logsuceess{
  width: 100%;
   background-color: rgba(242,242,242,1);
   position: relative;
}

.personimgcont{
  width: 100%;
  height: 160px;
  background: rgba(238,255,255,1) url(../../../../src/assets/feifei.jpeg) no-repeat center;
  background-size: 100%;
  opacity: .6;
}
.personimgcontdiv{
  width: 100%;
  height: 160px;
  position: absolute;
  top:0px;
  overflow: hidden;
  text-align: center;
}
.personimg{
  width: 120px;
  height: 120px;
  margin: 15px auto;
  border-radius: 50%;
  background-image: url(../../../../src/assets/feifei.jpeg);
  background-position: center;
  background-size: cover;
  
}
.personname{
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  margin-top: 10px;
  color: rgba(204, 102, 127, 1);
  top: 125px;
  left: 43%;
}


ul{
  margin-top: 15px;
}
.clean{
  clear: both;
}
ul>li{
  height: 40px;
  line-height: 50px;
  border-bottom: 1px solid rgba(215,215,215,1);
}
ul>li>a{
  color: rgba(94,94,94,1);
  font-size: 13px;
  height: 20px;
  float: left;
  padding: 10px;
  line-height: 20px;
}
ul>li>span{
  width: 50px;
  height: 20px;
  float: right;
}
.clean{
  clear: both;
}
.personinfo{
  margin-top: 25px;
}
.mycomment{
  margin-top: 25px;
}
.collection{
  margin-top: 25px;
}



.outlogbutton{
   width: 90%;
   padding: 0 15px;
   margin: 20px 0;
}
.outlogbutton>button{
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height:50px;
  outline: none;
  border: 0;
  background-color: rgba(204,51,51,1);
  color: white;
  border-radius: 3px;
  text-align: center;
}
// 动画切换效果
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
