 .hello{
   height: 100%;
   overflow: hidden;
  main{
    height: calc(100% - 130px);
    overflow: auto;
    & >.main-book{
      width: 100%;
      & > h3{
       white-space: nowrap;
       text-align: left;
       font-size: 16px;
       font-weight: 700;
       font-style: normal;
       text-decoration: none;
       font-family: 微软雅黑;
       color: rgb(0, 0, 0);
       padding-left: 15px;
      }
      & > ul{
        width: 100%;
        list-style: none;
        padding: 0px;
        & >li{
          width: 45%;
          height: 200px;
          display: inline-block;
          margin-bottom: 20px;
          & > img{
            width: 90%;
            height: 90%;
          }
          & > p{
            white-space: nowrap;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: 微软雅黑;
            color: rgb(0, 0, 0);
            display: inline-block;
            width: 90%;
            overflow: hidden;
            margin: 5px 0 8px 0;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          & > .book-price{
            color: rgb(204, 102, 51);
          }
        }
      }
    }
}
.broadcast{
 display: inline-block;
 width: 100%;
 height: 40px;
 line-height: 40px;
 border-bottom: 1px solid rgb(219, 218, 218);
 font-size: 15px;
 & >.broadcast-i {
   color:rgb(241, 148, 55);
 }
}

.swiper-container {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 0;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  & > img{
    width: 100%;
  }
  }
  .swiper-pagination{
    & > span{
      width: 15px;
      height: 15px;
    }
    & > .swiper-pagination-bullet-active{
      background: #fff;
    }
  }
 }
.hello{
  & > .mask{
  box-sizing: border-box;
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
   background: #fff;
   z-index: 7;
   margin: 15px 0;
   border: 1px solid #010101;
   & > .book-btn{

     & > button{
       width: 120px;
       height: 30px;
       border: none;
       font-size: 14px;
     }
     & >button:hover{
       background: green;
       color: #fff;
       outline: none;
     }
   }
   & >.price-number{
     box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin: 5px 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc; 
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    &> span{
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      line-height: 40px;
      text-align: left;
      font-weight: bold;
      font-size: 20px;
      
    }
    & >.frist{
      text-align: center;
      border-right: 2px solid #ccc;
    }  
  }
   & > .close{
     position: relative;
     padding: 10px 10px 20px;
     height: 35px;
     box-sizing: border-box;
     border-bottom:1px solid #ccc;
     & > i{
       float: right;
     }
   }
   & > .book-info{
     width: 100%;
    & > .book-info-top{
      width: 100%;
      position: relative;
      text-align: left;
      padding: 15px 15px 0 15px;
      box-sizing: border-box;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      & > img{
        width: 35%;
        height: 3%;
      }
      & > span{
        display: inline-block;
        text-align: left;
        font-size: 14px;
        & > label{
          display: inline-block;
          height: 20px;
        }
      }
      & > .bit-bottom{
        position: absolute;
        right: 15px;
        bottom: 0px;
        text-align: center;
      }
    }
    & > .book-title{
      text-align: left;
      padding-left: 15px;
      font-weight: bold;
    }
    & > .book-content{
      display: inline-block;
      font-size: 14px;
      height: 150px;
      box-sizing: border-box;
      overflow: hidden;
    }
   }
  }
 
}